<!-- O KEY serve como uma "dica" ao Vue para dizer onde está exatamente a identidade de um elemento dentro de uma lista -->
<!-- Em uma lista de produtos, o ID do produto por exemplo é uma excelente KEY -->

<meta charset="UTF-8">
<script src="http://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores" :key="cor">{{ i + 1 }}) {{ cor }}</li>
    </ul>
    <button @click="cores.push('branco')">Adicionar</button>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <div v-for="(valor, chave, i) in pessoa">
                {{ chave }} - {{ valor }} - {{ i + 1}}
            </div>
        </li>
    </ul>
    <hr>
    <div v-for="n in 10">{{ n }}</div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Ana', idade: 26, peso: 59 },
                { nome: 'Guilherme', idade: 22, peso: 89 }
            ]
        }
    })
</script>

<style>
    h1,
    p {
        display: inline;
    }
</style>